<section class="container container-fluid mt-5">
    <section class="container-fluid">

      <div class="game-buttons">
          <a href="/game"><button class="btn btn-dark" type="button" id="start-game">Start Game</a>
      </div>

    </section>
</section>