<section class="container container-fluid mt-5">
    <section class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4 glow" style="color: white">Welcome!, {{userFullname}}</h1>
        {{#if gameData includeZero=false}}
        <div class="alert alert-primary" role="alert">
          You already have an Active game saved, click <a href="/gamestart/{{gameData.game_id}}"><button class="btn btn-dark" type="button" id="start-game">Resume Game</button></a> to continue playing from where you left. Otherweise, start new game by pressing link below.
          
        </div>
        {{/if}}
        <div class="game-buttons">
            <a href="/game"><button class="btn btn-dark" type="button" id="start-game">Start Game</button> </a>
        </div>
      </div>
    </section>
</section>
