<header class="header">
    DARK CRAWLER
</header>

<!-- Set up bootstrap layout -->
<main class="container container-fluid mt-5 d-flex">
    <section>
        <a href="./dashboard"><button type="button" class="enter-button">ENTER</button></a>
    </section>
</main>