<header class="display-flex main-header">
  <h1></h1>
  <nav>

  </nav>
</header>
<main class="container container-fluid mt-5">

  <section class="row">
    <div class="col-md-6">
      <h2 class="login-text">Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="username-login">username:</label>
          <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
      <p class="login-text">If you are currently not a crawler, click <a href="/signup">here</a> to signup.</p>
    </div>
  </section>
</main>
<footer>

</footer>

<script src="./js/login.js"></script>