<header class="display-flex main-header">
  <h1></h1>
  <nav>

  </nav>
</header>
<main class="container container-fluid mt-5">

  <section class="row">
    <div class="col-md-6">
      <h2 class="login-text">Login</h2>

      <form class="form login-form">
        <div class="form-outline mb-4">
          <label class="form-label t">Email</label>
          <input type="email" id="email-address" class="form-control" placeholder="Email address" />
        </div>
        <div class="form-outline mb-4">
          <label class="form-label">Password</label>
          <input type="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
          <button class="btn btn-dark" type="submit">Login</button>
          <a class="login-text" href="\reset">Forgot password?</a>
        </div>
      </form>
      <br>
      <p class="login-text">If you are currently not a crawler, click <a href="/signup">here</a> to signup.</p>
    </div>
  </section>
</main>
<footer>

</footer>

<script src="./js/login.js"></script>