html {
  line-height: 1.5;
}

label {
  color: white;
}

p {
  color: white;
}

.home-body {
  background-image: url('../images/mainbg.jpg');
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-position:center;
  background-size: cover;
  background-position: center center;
background-attachment: fixed;
}
.main-body {
  background-image: url('../images/pagebg.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
background-repeat:no-repeat;
background-position:center;
}

.login-text {
  color: white;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.header {
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
  display: block;
  text-align: center;
  ;
}

.enter-button {
  display: block;
  border-radius: 1rem;
  border-width: 0.3rem;
  border-color: red;
  font-size: 2rem;
  width: 10rem;
  height: 3.5rem;
  color: red;
  font-weight: 800;
  background: none;
  position: relative;
  bottom: -30rem;
  margin: auto;
}

.enter-button:hover {
  background-color: black;
}

.left-aside {
  color: white;
}

.right-aside {
  color: white;
  padding-left: 5rem;
}

.right-aside h2 {
  text-align: center;
}

.grid-row {
  min-height: 6rem;
}

.game-tile {
  display: inline-block;
  border-color: white;
  border-width: 0.2rem;
  border-style: solid;
  text-align: center;
  font-size: 30px;
}

.game-buttons {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-top: 5rem;
  }

}

/* murad */

.text-color-white{
  color: white;
}

a:link, a:visited{
  color: white !important;
}

.character-image{
  width: 195px;
  height: 192px;
}

.highlight:hover{
  border-style: solid;
  border-width: 2px;
  border-color: red;
  cursor: pointer;
}

.selected{
  border-style: solid;
  border-width: 2px;
  border-color: red;
  cursor: pointer;
}

.highlight{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.character-properties{
  padding-left: 70px;
}
.center{
  text-align: center;
}

.top-pad{
  padding-top: 10px;
}

.game-button {
  padding-top: 50px;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
